* {
  box-sizing: border-box;
}
/*Fonts*/
h1, h2, h3 {
  font-family: 'Alegreya', serif;
  line-height: 120%;
}
h1 {
  font-style: italic;
  font-size: 3em;
}
h3 {
  font-style: italic;
  font-size: 1.5em;
}
p {
  font-family: 'Lora', serif;
}
/* Content Formatting */
#banner {
  color: white;
  background-color: #039e00;
  padding: 1em;
}
nav {
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  float: left;
  border-bottom: 1px solid #f1f1f1;
}
nav a {
  text-decoration: none;
  color: #039e00;
}
.menuitem {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
}
.about {
  width: 100%;
  overflow: hidden;
  padding: 0 1.25em;
  float: left;
}
#img-profile {
  float: left;
  width: 100%;
  padding-bottom: 1.25em;
}
.right {
  width: 100%;
  overflow: hidden;
  padding: 0 1.25em;
  float: left;
}
/* Table of services */
table {
  font-family: 'Lora', serif;
  border-collapse: collapse;
}
th {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
  background-color: #87ef85;
  color: white;
}
td, th {
  border: 1px solid black;
  padding: 0.3em;
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
/* Book Now button */
#booknow {
  font-family: 'Lora', serif;
  font-size: 2em;
  margin: 1em 0;
}
#booknow a {
  padding: 1em 0.625em;
  background-color: #039e00;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
/* Footer w/ social media */
.footer {
  background-color: #f1f1f1;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 1.25em;
  text-align: center;
  float: left;
}
/* Social Media Icons */
.fa {
  padding: 1em 1.875em 1em 1.25em;
  margin: 0.625em 0.3em;
  font-size: 2em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #c13584;
  color: white;
}

/* Tablet formatting */
@media only screen and (min-width: 768px) {
  nav {
    float: left;
    width: 20%;
  }
  .about {
    width: 80%;
  }
  .right {
    width: 80%;
    float: right;
  }
}

/* Desktop formatting */
@media only screen and (min-width: 1000px) {
  .about {
    width: 40%;
  }
  .right {
    float: right;
    width: 40%;
    padding: 0 1em;
    padding-top: 4.5em;
  }
}
