* {
  box-sizing: border-box;
}
h1, h2, h3 {
  font-family: 'Alegreya', serif;
  line-height: 120%;
}
h1 {
  font-style: italic;
  font-size: 3em;
}
h3 {
  font-style: italic;
  font-size: 1.5em;
}
p {
  font-family: 'Lora', serif;
}
.banner {
  color: white;
  background-color: #039e00;
  padding: 15px;
}
.menu {
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  float: left;
  width: 100%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.menuitem a {
  text-decoration: none;
  color: #039e00;
}
.main {
  float: left;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}

table {
  font-family: 'Lora', serif;
  border-collapse: collapse;
  margin: 20px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #87ef85;
  color: white;
}
td, th {
  border: 1px solid black;
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

#booknow {
  font-family: 'Lora', serif;
  font-size: 2em;
  margin: 10px 20px;
}
#booknow a {
  padding: 15px 10px;
  background-color: #039e00;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}


/* Tablet formatting */
@media only screen and (min-width: 768px) {
}

/* Desktop formatting */
@media only screen and (min-width: 1000px) {
}
